.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
sim_build/
__pycache__/
.pytest_cache/
results.xml
test/gate_level_netlist.v
tt/
test/*.png
*/__pycache__
*/sim_build
*/results.xml
TODO.md
*.log
*.csv
*.pdf
asic/outputs/*
test/tb_trunc_mult/*.png
bringup/stm32/*.png
bringup/stm32/nucleo-f446re/Debug
bringup/stm32/nucleo-f446re/.settings
bringup/stm32/nucleo-f446re/D-FIR Debug.launch
bringup/fpga/gw5a/D-FIR.gprj.user
bringup/fpga/gw5a/impl/*
bringup/fpga/gw5a/impl/
sync_projects.sh
