# STM32 vendor libraries
bringup/stm32/nucleo-f446re/Drivers/** linguist-generated

# CubeMX/CubeIDE generated code
bringup/stm32/nucleo-f446re/Core/Startup/** linguist-generated
bringup/stm32/nucleo-f446re/Core/Inc/** linguist-generated
bringup/stm32/nucleo-f446re/Core/Src/stm32f4xx_hal_msp.c linguist-generated
bringup/stm32/nucleo-f446re/Core/Src/stm32f4xx_it.c linguist-generated
bringup/stm32/nucleo-f446re/Core/Src/syscalls.c linguist-generated
bringup/stm32/nucleo-f446re/Core/Src/sysmem.c linguist-generated
bringup/stm32/nucleo-f446re/Core/Src/system_stm32f4xx.c linguist-generated

bringup/stm32/nucleo-f446re/STM32F446RETX_FLASH.ld linguist-generated
bringup/stm32/nucleo-f446re/STM32F446RETX_RAM.ld linguist-generated

# Gowin IP generation
bringup/fpga/gw5a/src/gowin_pll/** linguist-generated
bringup/fpga/gw5a/src/pll_init.v linguist-generated
