IO_LOC "clk"      E2;
IO_LOC "rst_n"    C11;
IO_LOC "cs_n"     B11;
IO_LOC "mosi"     D11;
IO_LOC "miso"     G11;
IO_LOC "sclk"     G10;
IO_LOC "fir_mode" D10;

IO_PORT "clk"      IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "rst_n"    IO_TYPE=LVCMOS33 PULL_MODE=UP   BANK_VCCIO=3.3;
IO_PORT "cs_n"     IO_TYPE=LVCMOS33 PULL_MODE=UP   BANK_VCCIO=3.3;
IO_PORT "mosi"     IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "sclk"     IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "fir_mode" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_PORT "miso"     IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;